.header__logo{
padding-bottom: 38px;
}

@media screen and (max-width: 700px) {
    .header__logo {
        width: 103.74px;
        height: 24.4px;
        padding-left: 27px;
        padding-bottom: 25px;
    }
}