.profile__edit-avatar-button {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 26px;
    height: 26px;
    padding: 0;
    border: 0;
    opacity: 0;
    cursor: pointer;
    background: url('../../../images/btn-edit-avatar.svg') 50% no-repeat;
}

.profile__edit-avatar-button:hover {
    opacity: 0.6;
}