.popup__container {
    background: #FFFFFF;
    width: 430px;
    border-radius: 10px;
    position: relative;
    padding: 34px 36px 37px;
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 700px) {
    .popup__container {
        max-width: 282px;
        padding: 25px 22px;
        box-sizing: border-box;
    }
 }